.netflixImg{
    width: 110px;
    height: 40px;
    margin-left: 20px;
    
}
.user{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.topBar{
position: fixed;
display: flex;
flex-direction: row;
justify-content: space-between;
width: 100%;
padding-top: 13px;
z-index: 10;
transition-timing-function: ease-in;
transition: all 0.5s;
}
.nav_black{
    background-color: #111;
}
.netflixImg:hover{
    cursor: pointer;
}
.user:hover{
    cursor: pointer;
}.search:hover{
    cursor: pointer;
}
.search{
    width: 30px;
    height: 30px;
    margin-right: 40px;
    border-radius: 10px;
    margin-bottom: 12px;
}
.favText{
    display: flex;
    background-color: red;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-weight: 600;
    margin-right: 30px;
   
}
.favText:hover{
    cursor: pointer;
}
@media (max-width: 576px) {
   /* .menuList{
    display: none;
   } */
   .navList{
    display: none;
   }
  }
  @media (min-width: 576px) {
    .menuList{
     display: none;
    }
   }
