.hamburger-btn{
    background-color: red;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: 1px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 600;
 }
 .menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    /* left: 0; */
 }
 .menu-content{
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  text-align: center;
 }
 .item{
    height: 20px;
    padding: 5px;
    font-weight: 550;
    font-size: 14px;
 }
 .item:hover{
    background-color: white;
    color: black;
    cursor: pointer;
 }
 .burger{
    display: flex;
    justify-content: end;
 }